#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedorTarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cajaTodo{
  justify-content: center;
}